.homepage-schedule-container {
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.schedule-banner-container {
  grid-column: span 2;
}

.schedule-specifics {
  position: relative;
  top: -1vh;
  width: 100vw;
  height: 50vh;
  background-color: #0c2b56;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.specifics-line {
  position: absolute;
  right: 0;
  bottom: 0;
}


.schedule-specifics-box {
  grid-column: 1 / span 5;
  grid-row: 1 / span 5;
  margin-left: 3vw;
  margin-right: 5vw;
  z-index: 1;
  /* marginx-top:-5vw; */
  /* ! flexbox styles */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.moon-img {
  grid-column: 4;
  grid-row: 5;
  z-index: 0;
}

.sun-img {
  grid-column: 2;
  grid-row: 1;
  z-index: 0;
}

.all-schedules {
  grid-column: 1 / span 2;
  grid-row: 7;
  margin-left: 3vw;
}

.all-schedules-link {
  color: var(--Pink, #fbe4df);
  /* Link */
  font-family: Neue Haas Grotesk Text Pro;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.125rem */
  text-decoration-line: underline;
}

.mission-box {
  height: 90vh;
  width: 100vw;
}

.mission-statement {
  color: var(--Main-Blue, #051e4f);
  font-size: 5vw;
  font-weight: 250;
  line-height: 100%; /* 3rem */
  padding-top: 7vw;
  padding-left: 6vw;
  padding-right: 36vw;
  container-name: mission-statement;
}

.border1 {
  width: 100vw;
}

.tribeca-bridge {
  mix-blend-mode: color-burn;
  margin-top: -3vw;
  width: 40vw;
  bottom: -2vw;
  grid-column: 2;
  grid-row: 2;
}

.bridge-pos {
  z-index: -1;

}

.date-crawler-pos {
  padding-left: 5vw;
  grid-row: 2;
  grid-column: 1;
}

.polaroids-sky {
  width: 100vw;
}

.end-scroll {
  width: 100vw;
}

.period-crawler-container {
  color: var(--Pink, #fbe4df);
  font-style: normal;
  padding-bottom: 0.25rem;
  align-items: right;
}

.period-name {
  /* Text */
  font-family: Neue Haas Grotesk Display Pro;
  font-size: 0.75rem;
  font-weight: 400;
}

.period-time {
  font-family: Neue Haas Grotesk Text Pro;
  font-size: 1.1rem;
}


.hidden {
  opacity:0;
  filter:blur(5px);
  transform:translateX(-100%);
  transition: all 1s;
}



.show {
  filter: blur(0);
  transform:translateX(0);
  opacity:1;
}

@media(perfers-reduced-motion){
  .hidden {
    transition:none;
  }
}