.homepage-schedule-container {
  height: 70vh;
  display: grid;
  padding-left: 5vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.smooth-scroll-container {
  position: relative;
  width: 100%;
}

@media (max-width: 632px) {
  .homepage-schedule-container {
    height: 60vh;
  }
}

.schedule-banner-container {
  grid-column: span 2;
}

.coverAnim {
  position: fixed;
  width: 100vw;
  height: 100%;
  z-index: 1000;
}

.schedule-specifics {
  padding-left: 5vw;
  width: 100vw;
  height: 60vh;
  background-color: #0c2b56;
  display: grid;
  margin-top: -20px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.specifics-line {
  position: absolute;
  right: 10vw;
  top: 125vh;
}

.schedule-specifics-box {
  grid-column: 1 / span 5;
  grid-row: 1 / span 5;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.moon-img {
  grid-column: 4;
  grid-row: 5;
  z-index: 0;
}

.sun-img {
  grid-column: 2;
  grid-row: 1;
  z-index: 0;
}

.all-schedules {
  grid-column: 1 / span 2;
  grid-row: 7;
}

.all-schedules-link {
  position: relative;
  top: -30%;
  font-family: "neue-haas-grotesk-display", sans-serif;
  color: var(--Pink, #fbe4df);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}

.lf-player-container {
  position: fixed;
  width: 100vw;
  z-index: 20000;
}

.mission-box {
  padding-left: 5vw;
  padding-right: 20vw;
  padding-top: 5vw;
  height: 80vh;
  width: 100vw;
}

/* ! IMPORTANT
MISSION statement breaks at around 613 px; there should be some dyanmic stuff happening if
*/

.mission-statement {
  color: var(--Main-Blue, #051e4f);
  font-size: 4.25em;
  font-weight: 250;
  line-height: 100%;
  container-name: mission-statement;
}

@media (max-width: 1005px) {
  .mission-statement {
    font-size: 3.25em;
    padding-top: 1vw;
    padding-left: 2vw;
    padding-right: 5vw;
  }
  .mission-box {
    height: 80vh;
  }
}

@media (max-width: 895px) {
  .mission-statement {
    font-size: 3em;
    padding-top: 0;
    padding-left: 1vw;
    padding-right: 0;
  }
  .mission-box {
    height: 50vh;
  }
}

@media (max-width: 753px) {
  .mission-statement {
    font-size: 2.25em;
  }
}

@media (max-width: 432px) {
  .mission-statement {
    font-size: 2em;
  }
  .mission-box {
    height: 60vh;
  }
}

.border1 {
  width: 100vw;
}

.tribeca-bridge {
  filter: brightness(1.2);
  mix-blend-mode: color-burn;
  margin-top: -3vw;
  width: 40vw;
  bottom: -2vw;
  grid-column: 2;
  grid-row: 2;
}

.bridge-pos {
  z-index: -1;
}

.date-crawler-pos {
  grid-row: 2;
  grid-column: 1;
}

.polaroids {
  width: 100vw;
  height: 160vh;
  grid-column: 1;
  grid-row: 1;
}

.polaroids-sky {
  background: url("../Images/PolaroidsSky.png") no-repeat;
  background-size: 100%;
  z-index: 5;
}

.polaroid-img {
  background-repeat: no-repeat;
  background-size: 100%;
}

.polaroids-bottom {
  background: url("../Images/polaroidsGround.png") no-repeat;
  background-size: 100%;
  z-index: 7;
}

.polaroids-text {
  z-index: 6;
  font-family: "ivymode";
  mix-blend-mode: color-burn;
  color: var(--Main-Blue, #051e4f);
  display: flex;
  font-weight: 200;
  text-align: center;
  font-size: 10rem;
  line-height: 95%;
  font-style: normal;
  justify-content: center;
  align-items: center;
  height: 10vh;
  padding: 10vw;
  margin-bottom: 55vw;
}

.end-scroll {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  grid-template-rows: 1fr;
}

.period-crawler-container {
  color: var(--Pink, #fbe4df);
  font-style: normal;
  padding-bottom: 0.25rem;
  align-items: right;
}

.period-name {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
}

.period-time {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-size: 1.5rem;
}
