/* ATTENTION: don't know if I should integrate this into the thing or something */
body { 
  font-family: Neue Haas Grotesk Display Pro;
  background-color: #FAE5E2; /* Updated background color */
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* quick fix but I'm lazy :( */
a {
  text-decoration: none;
}

.navbar {
  width: 100%;
  text-align: left;
  padding: 20px;
}
.navbar-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px; /* Adjust the gap between logo and text as needed */
}
.navbar img {
  width: 120px; /* Adjust as needed */
}
.navbar h1 {
  font-size: 48px; /* Adjust as needed */
  margin: 0;
  line-height: 1.2;
}
.menu {
  margin-top: 20px;
  display: inline-block; /* Align the menu center */
}
.menu-item {
  display: inline-block;
  margin: 0 10px;
  padding: 5px 15px;
  border-radius: 50%;
  color: #082144;
  border: 1px solid #333;
  position: relative;
  transition: transform 0.3s; /* Smooth transition for hover */
}
.menu-item:hover {
  /* Optional: Add a hover effect if needed */
  transform: scale(1.1);
}
.current-page {
  border: 1px solid #333;
}
.current-page:before,
.current-page:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #333;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.current-page:before {
  transform: translate(-50%, calc(-50% - 2px));
}
.current-page:after {
  transform: translate(-50%, calc(-50% + 2px));
}