.meet-team-container {
    text-align: center;
    margin-top: 20px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .meet, .the-team {
    display: inline-block;
    font-size: 4rem;
    font-weight: bold;
    margin: 0 10px;
  }

  .meet {
    margin-right: 30vw;
  }

  .the-team {
    margin-left: 30vw;
  }
  
  .people-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 0;
    padding-left: 0;
    border: 1px solid black;
  }
  
  .box-text {
    transform: rotate(180deg);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 0;
    line-height: normal;
  }

  .chiefs-box-text {
    transform: rotate(0deg);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 0;
  }
  
  .box {
    left: 0;
    background-color: #0C2B56;
    color: #FAE5E2;
    font-size: 96px;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    align-self: flex-start;
    justify-self: flex-start;
  }
  
  .subgroup-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 0px;
  }
  
  .person-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    padding: 20px;
  }
  
  .image-placeholder {
    height: 200px;
    background-color: #cccccc;
    margin-bottom: 15px;
  }
  
  .name {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  
  .description {
    font-size: 1rem;
  }
  
  .person-container .image-placeholder {
    background-color: #0C2B56;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FAE5E2;
    font-size: 1.5rem;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
  }