.resources-container{

    padding: 3vh;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.resource-cards {
    padding: 10px;
}

.resources-super{
    min-height: 100vh;
    min-width: 100vw;
}