.banner {
  background-color: var(--Main-Blue, #0c2b56);
  height: 5vh;
  width: 100vw;
  text-align: center;
  display: table;
}

.banner-text {
  font-weight: 400;
  padding-top:1.7vh;
  color: var(--Pink, #fae5e2);
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-size: 1rem;
}

.banner-links {
    color: var(--Pink, #fae5e2);
}

.banner-texture {
  width: 100vw;
  height: auto;
  display: block;
}