.banner {
  background-color: var(--Main-Blue, #0c2b56);
  height: 5vh;
  width: 100vw;
  text-align: center;
  display: table;
}

.banner-text {
  padding-top:1vh;
  display: table-cell;
  color: var(--Pink, #fae5e2);
  font-family: "neue-haas-grotesk-text";
  font-size: 0.75rem;
  vertical-align: middle;
  line-height: 100%; 
}

.banner-links {
    color: var(--Pink, #fae5e2);
    font-family: "neue-haas-grotesk-text";
    font-size: 0.75rem;
    vertical-align: middle;
    line-height: 100%; 
  
}

.banner-texture {
  width: 100vw;
  height: auto;
  display: block;
}