.schedule-date-crawler {
  width: 30vw;
  height: 30vh;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.day-box {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.day-text {
  align-self: center;
  color: var(--Main-Blue, #051e4f);
  /* Caption */
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
}

@media (max-width: 768px) {
  .day-text {
    font-size: 0.75rem;
  }
}

.type-text {
  line-height: 150%; /* 1.125rem */
  text-decoration-line: underline;
}

.lightened-text {
  line-height: 150%; /* 1.125rem */
  text-decoration-line: underline;
}