.footer-banner {
  position: absolute;
  width: 100vw;
  display:inline-flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.positions-title {
    text-align: left;
    width:20vw;
}

.footer-people {
    display:flex;
    justify-content: space-between;
    width: 50vw;
}

.icons-container {
  gap: 5px;
  display: inline-flex;
}

.positions-people {
  text-align:left;
  width:40vw;
  padding-left: 3vw;
}

.footer-logo-top:hover {
  transform: scale(1.05);
}


.name-link {
  text-decoration: none;
  color: #0c2b56;
}

.social-logo:hover {
  transform: scale(2);
}

.names {
  color: #0c2b56;
  font-size: 0.9em;
  display:inline-flex;
  flex-direction: column;
  font-family: "neue-haas-grotesk-text";
  line-height: 1.25em;
  width:100vw;
  align-items: center;
  padding-left:23vw
}

@media (max-width: 450px) {
  .names {
    display:none;
  }
}


.leadership {
  color: #0c2b56;
  width: 100vw;
  text-align: center;
  font-size: 0.9em;
  font-family: "neue-haas-grotesk-text";
}

.school-logo-link {
  text-decoration: none;
}
.school-logo-link:hover {
  transform: scale(1.05);
}

.school {
  padding-bottom: 40px;
  display: inline-flex;
  justify-content: space-between;
  position: relative;
}

.school-text {
  top: 1px;
  color: #0c2b56;
  font-size: 14px;
  font-family: "neue-haas-grotesk-text";
  font-weight: 400;
  line-height: 18px;
  position: relative;
}

.school-icon {
  width: 20px;
  height: 20px;
}
