body {
  overflow-x: hidden
}

.line .vector {
  height: 3px;
  left: 0;
  top: 0;
  width: 950px;
}

.frame {
  align-items: flex-start;
  display: flex;
  width: 90vw;
  gap: 20px;
  position: relative;
  flex-wrap: wrap;
  row-gap: 100px;
  column-gap: 20px;
}

.frame .event {
  position: relative;
  display: block;
  flex-grow: 1;
  max-width: 30%;
}

.frame .event-text {
  color: var(--main-blue);
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  letter-spacing: 1px;
  top: 16px;
}

.frame .event-date {
  color: var(--main-blue);
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 12px */
  height: 12px;
  left: 0;
  letter-spacing: var(--caption-letter-spacing);
}

.frame .event-title {
  color: var(--main-blue);
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}

/* font formatting */
.event {
  color: var(--Main-Blue, #051e4f);
  font-style: normal;
}

.event-title {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-size: 1rem;
  font-weight: 450;
  line-height: normal;
}

.event-date {
  color: var(--Main-Blue, #051e4f);
  /* Caption */
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 100%; /* 0.75rem */
}


.show-more {
  color: var(--Main-Blue, #051e4f);
  text-decoration: underline;
}
