.head-nav {
  z-index:10;
}

.nav-container {
  display: flex;
  width: 90vw;
  height: 5vh;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: auto;
}

.decorative {
  font-family: "scotch-display-comp-dingbats";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.menu {
  list-style: none;
  display: inline-flex;
  width: 60vw;
  justify-content: space-between;
}

.nav-menu-item {
  /* text */
  font-family: "mixta-sharp";
  font-size: 1rem;
  font-style: normal;
  text-decoration: none;
  color: var(--Main-Blue, #0c2b56);
  font-weight: 500;
  line-height: normal;
  list-style: none;
  width:auto;
}

.nav-menu-item:hover {
  transform: scale(1.05);
}


.juni-logo-container {
  display: flex;
  align-items: center;
}

.junior-logo {
  flex: 1;
  display: flex;
}

.item-menu-text {
  text-align:center;
}

.hamburger {
  display: none;
}

@media (max-width: 768px) {
  .hamburger {
    display:block;
  }
  .menu {
    display: none;
  }
  
}