/* ATTENTION: don't know if I should integrate this into the thing or something */
.nav-container {
  display: flex;
  width: 90vw;
  height: 5vh;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: auto;
}

.decorative {
  font-family: "scotch-display-comp-dingbats";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.menu {
  list-style: none;
  display: flex;
}

.menu-item {
  /* text */
  font-family: "mixta-sharp";
  font-size: 1rem;
  font-style: normal;
  text-decoration: none;
  color: var(--Main-Blue, #0c2b56);
  font-weight: 500;
  line-height: normal;
  list-style: none;
  margin-right: 20px;
  width:auto;
}

.menu-item:hover {
  transform: scale(1.05);
}


.logo {
  display: flex;
  align-items: center;
}

.juinor-logo {
  /* width: 10rem; */
  height: 2.5rem;
  /* flex-shrink: 0; */
  flex: 1;
  display: flex;
  align-items: center;
  draggable: false;
}
