.head-nav {
  z-index:1000000;
}

.nav-container {
  display: flex;
  height: 5vh;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding-left: 5vw;
  padding-right: 5vw;
}

.decorative {
  font-family: "scotch-display-comp-dingbats";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.menu {
  list-style: none;
  display: inline-flex;
  width: 40vw;
  justify-content: space-between;
}

@media (max-width: 940px) {
  .menu {
    width: 60vw;
  }
}

.nav-menu-item {
  /* text */
  font-family: "mixta-sharp";
  font-size: 1rem;
  font-style: normal;
  text-decoration: none;
  color: var(--Main-Blue, #0c2b56);
  font-weight: 500;
  line-height: normal;
  list-style: none;
  width:auto;
}

.nav-menu-item:hover {
  transform: scale(1.05);
}


.juni-logo-container {
  display: flex;
  align-items: center;
}

.junior-logo {
  flex: 1;
  display: flex;
}

.item-menu-text {
  text-align:center;
}

.hamburger {
  display: none;
}

@media (max-width: 768px) {
  .hamburger {
    display:block;
  }
  .menu {
    flex-direction:column;
  }
  .show-menu {
    display:flex;
    position:relative;
    margin-right: 0;
    padding-right:0;
  }
  .hide-menu {
    display:none;
  }
}