.resource-card-super {
  font-size: 4vw;
  font-family: "ivymode";
  width: 100%;
  height: 8vw;
  color: var(--Main-Blue, #0c2b56);
  border-bottom: .5px solid var(--Main-Blue, #0c2b56);
  position: relative;
  overflow: hidden;
  transition: color 0.3s;
}

.resource-card-super::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0c2b56;
  transition: top 0.3s;
  z-index: -1;
}

.resource-card-super:hover::before {
  top: 0;
}

.resource-card-super:hover {
  color: var(--Pink, #f7b2bd);
}


.resource-links {
  width: 100% !important;
  all:unset;
}
