.schedule-banner {
  display: flex;
  padding: 5vw;
  flex-direction: column;
  align-items: flex-start;
  background-size: cover;
  color: #004085;
}

.schedule-fill {
  height: 500px;
  width: 100%;
  background-color: #004085;
}

.weekly-schedule {
  display: flex;
  width: 12rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3rem;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.date-circle {
  width: 65px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.8px solid #004085;
}

.day-abbreviation {
  text-align: center;
  font-size: 16px;
}

.day-schedule {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top-row {
  font-size: 1.3rem;
  font-weight: 450;
  margin: 0.5rem 0;
  font-family: "neue-haas-grotesk-display", sans-serif;
  margin-bottom: 5vh;
}

.schedule-type {
  padding-left: 10px;
}

.bottom-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
}

.time-circle {
  border-radius: 50%;
  border: 7px solid #004085;
  width: 115px;
  height: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.date {
  font-size: 1.5rem;
  font-weight: bold;
}

.time-period {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "mixta-sharp", serif;
}

.time {
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.period {
  font-size: 8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
}