.schedule-banner {
  display: flex;
  padding: 5vw;
  flex-direction: column;
  align-items: flex-start;
  background-size: cover;
  /* 100% 100% */
  color: #004085;
}

.schedule-fill {
  height: 500px;
  width: 100%;
  background-color: #004085;
}

.schedule-specifics {
  position: absolute;
}

.top-row {
  font-size: 1.3rem;
  font-weight: 450;
  margin: 0.5rem 0;
  font-family: "neue-haas-grotesk-display", sans-serif;
  padding-bottom: 3vh;
}

.bottom-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.time-circle {
  border-radius: 50%;
  border: 3px solid #004085;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.date {
  font-size: 1.5rem;
  font-weight: bold;
}

.time-period {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "mixta-sharp", serif;
}

.time {
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.period {
  font-size: 8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
}