@import url("https://use.typekit.net/zfd0jrc.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    cursor: none;
    font-family: "ivymode";
    background: #FAE5E2;
}

a, .interactable {
    cursor: none;
}