@import url("https://use.typekit.net/zfd0jrc.css");

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    font-family: "Mixta-Sharp";
    background: #FAE5E2;
}
